<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="./Resources/CSS/Menu.css">
		<link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="divMenu">
			<header>
				<img src="./Resources/Img/logo.png">

			</header>

			 
			<nav>
				<ul class="lista-menu">
					<li class="menu">
						<a href="#">
							<div class="iconos">
								<img src="./Resources/Img/noticias.png">
							</div>
							<div class="contenido">
								<h2>Noticias</h2>
							</div>
						</a>
						<ul class="submenu">
							<li class="subopcion"><a href="vistaNoticias.php">Ver</a></li>
							<li class="subopcion"><a href="formularioNoticias.php">Publicar</a></li>
						</ul>
					</li>
					<li class="menu">
						<a href="#">
							<div class="iconos">
								<img src="./Resources/Img/pdf.png">
							</div>
							<div class="contenido">
								<h2>Documentación</h2>
							</div>
						</a>
						<ul class="submenu">
							<li class="subopcion"><a href="vistaDocumentos.php">Ver</a></li>
							<li class="subopcion"><a href="formularioDocumentos.php">Añadir</a></li>
						</ul>
					</li>
					<li class="menu">
						<a href="#">
							<div class="iconos">
								<img src="./Resources/Img/galeria.png">
							</div>
							<div class="contenido">
								<h2>Galería</h2>
							</div>
						</a>
						<ul class="submenu">
							<li class="subopcion"><a href="formularioAlbum.php">Crear album</a></li>
						</ul>
					</li>
					<li class="menu">
						<a href="#">
							<div class="iconos">
								<img src="./Resources/Img/eventos.png">
							</div>
							<div class="contenido">
								<h2>Eventos</h2>
							</div>
						</a>
						<ul class="submenu">
							<li class="subopcion"><a href="formularioEventos.php">Crear</a></li>
							<li class="subopcion"><a href="#">Visualizar solicitudes</a></li>
						</ul>
					</li>
					<li class="menu">
						<a href="#">
							<div class="iconos">
								<img src="./Resources/Img/administrador.png">
							</div>
							<div class="contenido">
								<h2>Login</h2>
							</div>
						</a>
						<ul class="submenu">
							<li class="subopcion"><a href="formularioSolicitudDel.php">Solicitar acceso como delegado</a></li>
							<li class="subopcion"><a href="formularioLoginDelegado.php">Login delegados</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</body>
</html>