<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="./Resources/CSS/Menu.css">
		<link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	</head>
	<body>
		<header>
			<img src="./Resources/Img/logo.png">
		</header>
	 
		<nav>
			<ul class="lista-menu">
				<li class="menu">
					<a href="vistaNoticias.php">
						<div class="iconos">
							<img src="./Resources/Img/noticias.png">
						</div>
						<div class="contenido">
							<h2>Noticias</h2>
						</div>
					</a>
				</li>

				<li class="menu">
					<a href="vistaDocumentos.php">
						<div class="iconos">
							<img src="./Resources/Img/legislacion.png">
						</div>
						<div class="contenido">
							<h2>Legislación</h2>
						</div>
					</a>
				</li>
				<li class="menu">
					<a href="vistaDocumentos.php">
						<div class="iconos">
							<img src="./Resources/Img/pdf.png">
						</div>
						<div class="contenido">
							<h2>Documentación</h2>
						</div>
					</a>
					<ul class="submenu">
						<li  class="subopcion"><a href="#">Secretaría de Salud Laboral de CCOO</a></li>
						<li  class="subopcion"><a href="#">Registro del Instituto Regional de Seguridad y Salud En El Trabajo, Comunidad de Madrid</a></li>
					</ul>
				</li>
				<li class="menu">
					<a href="vistaGaleria.php">
						<div class="iconos">
							<img src="./Resources/Img/galeria.png">
						</div>
						<div class="contenido">
							<h2>Galería</h2>
						</div>
					</a>
				</li>
				<li class="menu">
					<a href="vistaEventos.php">
						<div class="iconos">
							<img src="./Resources/Img/eventos.png">
						</div>
						<div class="contenido">
							<h2>Eventos</h2>
						</div>
					</a>
				</li>
				<li class="menu">
					<a href="#">
						<div class="iconos">
							<img src="./Resources/Img/administrador.png">
						</div>
						<div class="contenido">
							<h2>Registro usuarios</h2>
						</div>
					</a>
					<ul class="submenu">
						<li class="subopcion"><a href="formularioLoginDelegado.php">Solicitar registro como delegado</a></li>
						<li class="subopcion"><a href="formularioLoginAdministrador.php">Login delegados</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</body>
</html>