*{
	font-family:sans-serif;
	margin:2px;
}

body{
	background-image: url("fondo.jpg")
}

main
{	
	width:800px;
	text-align:left;
	font-size:12px;
	margin:5px auto;
}

header{
	background: linear-gradient(to top, #FFFFFF, #276697);
	color: #690000;
	border-radius: 30px / 40px;
	border:solid #000000;
	padding: 20px;
	text-align: center;
	box-shadow: #000000 5px 5px 10px;
}

section{
	background: linear-gradient(to top, #FFFFFF, #276697);
	border-radius: 30px / 40px;
	border:solid #000000;
	padding: 20px;
	box-shadow: #000000 5px 5px 10px;
}

aside{
	background: linear-gradient(to top, #FFFFFF, #276697);
	border-radius: 30px / 40px;
	border:solid #000000;
	padding: 20px;	
	box-shadow: #000000 5px 5px 10px;
}

div{
	text-align:center;
}

#displayReloj{   

    font-size: 130px;
    color: #000000;
    width: 300px;
    text-align: center;
    margin: 0 auto;
	text-shadow: black 3px 3px 8px;
}
 
button{
    font-size: 20px;
    font-weight:bold;
    color: #000000;
    background:#638cb5;
	box-shadow: #638cb5 5px 5px 10px;
	border-radius: 30px / 40px;
}
button:active {
  background-color: #000000;
  box-shadow: 0 5px red;
  color: red;
  transform: translateY(4px);
}

#stop{
	background: #690000;
}

#animacion{
	color: red;
}

a {
	text-decoration: none;
}
a:visited { 
	color: green; 
}

#size{
	font-size: 17px;
}

#metodoP{
	width: 340px;
	box-shadow: #000000 5px 5px 10px;
	border: solid black;
	border-radius: 30px / 40px;
	padding: 15px;
	text-align: center;
}

#metodoT{
	width: 100%;
	text-align: center;
}

#acciones{
	width: 100%;
	text-align: center;
}

li{
	font-size: 15px;
}

h2{
	text-align: center;
}

#tablaRegistros{
	width: 100%;
	text-align: center;
}

footer{
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 3px solid #276697;
	background: linear-gradient(to top, #FFFFFF, #000000);
	color: #000000;
	border-radius: 30px / 40px;
	box-shadow: #276697 2px 2px 30px;
}